{{#partial "content"}}
    <main class="mdl-layout__content">
        <div class="todos__posts mdl-grid">
            <div class="todos-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title" style="min-height:30px;">
                    <h2 class="mdl-card__title-text mdl-color-text--grey-800">ToDo</h2>
                </div>
                <a href="/todos/form"
                   class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored show-modal">
                    <i class="material-icons">add</i>
                </a>
                <div class="mdl-card__supporting-text">
                    <ul class="todos-list mdl-list">
                        {{#todos}}
                        <li class="mdl-list__item mdl-list__item--two-line" id="todo-body-{{id}}">
                            <span class="mdl-list__item-primary-content" style="height:50px;">
                                <strong style="font-size:1.5em">{{title}}</strong>
                                <strong>({{priority}})</strong>
                                <div> {{contents}}</div>
                                {{#deadline}}
                                <span class="mdl-list__item-sub-title">
                                    <relative-time datetime="deadline"
                                                   title="deadline">마감일자 : {{formattedDeadline}}</relative-time>
                                </span>
                                {{/deadline}}

                            </span>
                                <form style="display: inline;" action="/api/todos/{{id}}" class="delete-todo" method="post">
                                    <input type="hidden" name="_method" value="GET">
                                    <button type="submit" class="update-todo-btn" id="update-todo-btn">수정</button>
                                </form>
                                <form style="display: inline;" action="/api/todos/{{id}}" class="delete-todo" method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="delete-todo-btn">삭제</button>
                                </form>
                                {{#completed}}
                                <span class="mdl-list__item-secondary-content">
									<span class="material-icons mdl-badge mdl-badge--overlap"
                                          data-badge="expired">expired</span>
								</span>
                                {{/completed}}
                        </li>
                        {{/todos}}
                    </ul>
                </div>
            </div>
        </div>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <div class="mdl-logo mdl-color-text--grey-600">
                    Proudly powered by <a href="https://github.com/foreverever">TaeSu</a>
                </div>
            </div>
        </footer>
    </main>
    <div class="mdl-layout__obfuscator"></div>
</div>

<script type="text/template" id="write-update-todo-template">
    <div class="todos__posts mdl-grid">
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <form action="/api/todos" method="post">
                <div class="mdl-card__title mdl-color-text--grey-50" style="height:100px;">
                    <i class="material-icons">check_circle</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:90%">
                        <textarea class="mdl-textfield__input" style="color:#888" type="text" rows="10" id="title"
                                  name="title" required>{0}</textarea>
                    </div>
                </div>
                <div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-contents">
                    <div class="mdl-textfield mdl-js-textfield" style="width:100%; height:100px;">
                            <textarea class="mdl-textfield__input" style="color:#888" type="text" rows="10" id="contents"
                                      name="contents" required>{1}</textarea>
                    </div>
                </div>
                <div class="priority_selection">
                    우선순위
                    <br>
                    <input type='radio' name = "priority" value="높음" />높음
                    <input type='radio' name = "priority" value="중간" />중간
                    <input type='radio' name = "priority" value="낮음" />낮음
                </div>
                <br>
                <div class="deadline_selection">
                    마감기한
                    <br>
                    <input type="datetime-local" name="deadline" id="deadline">
                </div>
                <div class="mdl-color-text--primary-contrast mdl-card__supporting-text">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="template-update-btn" type="submit"
                            style="margin:10px auto; width:200px;">수정하기
                    </button>
                </div>
            </form>
        </div>
    </div>
</script>

{{/partial}}
{{>shared/base}}