{{#partial "content"}}
<main class="mdl-layout__content">
    <div class="todos__posts mdl-grid">
        <div class="todos-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title" style="min-height:30px;">
                <h2 class="mdl-card__title-text mdl-color-text--grey-800">ToDo</h2>
            </div>
            <a href="/todos/form"
               class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored show-modal">
                <i class="material-icons">add</i>
            </a>
            {{#todos}}
            <div class="mdl-card__supporting-text" id="todo-body-{{id}}">
                <ul class="todos-list mdl-list">
                    <li class="mdl-list__item mdl-list__item--two-line one-todo-body">
                        {{#completed}}
                        <span class="mdl-list__item-primary-content" style="height:50px;">
                                <del><strong style="font-size:1.5em">{{title}}</strong></del>
                                <del><strong>({{priority}})</strong></del>
                                <del><div> {{contents}}</div></del>
                                <del>{{#deadline}}</del>
                                <span class="mdl-list__item-sub-title">
                                    <relative-time datetime="deadline"
                                                   title="deadline">마감일자 : {{formattedDeadline}}</relative-time>
                                </span>
                                {{/deadline}}
                            </span>
                        {{else}}
                        <span class="mdl-list__item-primary-content" style="height:50px;">
                                <strong style="font-size:1.5em">{{title}}</strong>
                                <strong>({{priority}})</strong>
                                <div> {{contents}}</div>
                                {{#deadline}}
                                <span class="mdl-list__item-sub-title">
                                    <relative-time datetime="deadline"
                                                   title="deadline">마감일자 : {{formattedDeadline}}</relative-time>
                                </span>
                                {{/deadline}}
                            </span>
                        {{/completed}}
                        {{^completed}}
                        {{#expired}}
                        <span class="material-icons mdl-badge mdl-badge--overlap" data-badge="!" title="마감!!">comment</span>
                        {{/expired}}
                        <form style="display: inline;" action="/api/todos/{{id}}" class="complete" method="post">
                            <button type="submit" class="complete-todo-btn" id="complete-todo-btn">완료</button>
                        </form>
                        <form style="display: inline;" action="/todos/{{id}}" class="update-todo" method="get">
                            <button type="submit" class="update-todo-btn" id="update-todo-btn">수정</button>
                        </form>
                        {{/completed}}
                        <form style="display: inline;" action="/api/todos/{{id}}" class="delete-todo" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="delete-todo-btn" id="delete-todo-btn">삭제</button>
                        </form>
                    </li>
                </ul>
            </div>
            {{/todos}}
        </div>
    </div>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer--left-section">
            <div class="mdl-logo mdl-color-text--grey-600">
                Proudly powered by <a href="https://github.com/foreverever">TaeSu</a>
            </div>
        </div>
    </footer>
</main>
<div class="mdl-layout__obfuscator"></div>
</div>

<script type="text/template" id="complete-todo-template">
    <div class="mdl-card__supporting-text" id="todo-body-template">
        <ul class="todos-list mdl-list">
            <li class="mdl-list__item mdl-list__item--two-line one-todo-body">
                <span class="mdl-list__item-primary-content" style="height:50px;">
                    <del><strong style="font-size:1.5em">{0}</strong></del>
                    <del><strong>({1})</strong></del>
                    <del><div> {2}</div></del>
                </span>
                <form style="display: inline;" action="/api/todos/{3}" class="delete-todo" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="delete-todo-btn" id="delete-todo-btn-template">삭제</button>
                </form>
            </li>
        </ul>
    </div>
</script>

<script type="text/template" id="complete-todo-deadline-template">
    <div class="mdl-card__supporting-text" id="todo-body-deadline-template">
        <ul class="todos-list mdl-list">
            <li class="mdl-list__item mdl-list__item--two-line one-todo-body">
                <span class="mdl-list__item-primary-content" style="height:50px;">
                    <del><strong style="font-size:1.5em">{0}</strong></del>
                    <del><strong>({1})</strong></del>
                    <del><div> {2}</div></del>
                    <span class="mdl-list__item-sub-title">
                        <relative-time datetime="deadline"
                                       title="deadline">마감일자 : {4}</relative-time>
                    </span>
                </span>
                <form style="display: inline;" action="/api/todos/{5}" class="delete-todo" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="delete-todo-btn" id="delete-todo-btn-deadline-template">삭제</button>
                </form>
            </li>
        </ul>
    </div>
</script>

{{/partial}}
{{>shared/base}}