{{#partial "content"}}
<main class="mdl-layout__content">
    <div class="todos-back">
        <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon back-btn" title="go back"
           role="button">
            <i class="material-icons" role="presentation">arrow_back</i>
        </a>
    </div>
    {{#todo}}
    <div class="todos__posts mdl-grid">
        <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <form action="/api/todos/{{id}}" method="post" id="update-todo">
                <input type="hidden" name="_method" value="put"/>
                <div class="mdl-card__title mdl-color-text--grey-50" style="height:100px;">
                    <i class="material-icons">check_circle</i>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:90%">
                        <textarea class="mdl-textfield__input" id="title"
                                  name="title" required>{{title}}</textarea>
                    </div>
                </div>
                <div class="mdl-color-text--primary-contrast mdl-card__supporting-text new-contents">
                    <div class="mdl-textfield mdl-js-textfield" style="width:100%; height:100px;">
                            <textarea class="mdl-textfield__input" style="color:#888" rows="10" id="contents"
                                      name="contents" required>{{contents}}</textarea>
                    </div>
                </div>
                {{#priority}}
                <div class="priority_selection">
                    우선순위
                    <br>
                    <input type='radio' name="priority" value="높음"/>높음
                    <input type='radio' name="priority" value="중간"/>중간
                    <input type='radio' name="priority" value="낮음"/>낮음
                </div>
                {{/priority}}
                <br>
                <div class="mdl-color-text--primary-contrast mdl-card__supporting-text">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored update-todo"
                            type="submit"
                            style="margin:10px auto; width:200px;">수정하기
                    </button>
                </div>
            </form>
        </div>
    </div>
    {{/todo}}
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer--left-section">
            <div class="mdl-logo mdl-color-text--grey-600">
                Proudly powered by <a href="https://github.com/foreverever">TaeSu</a>
            </div>
        </div>
    </footer>
</main>
<div class="mdl-layout__obfuscator"></div>
{{/partial}}
{{>shared/base}}
